<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>imgUploadServlet</servlet-name>
        <servlet-class>com.jims.wx.servlet.ImgUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imgUploadServlet</servlet-name>
        <url-pattern>/img-upload-servlet</url-pattern>
    </servlet-mapping>
    <!-- 激活Tomcat的defaultServlet来处理静态文件 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet>
        　　<!-- Override init parameter to avoid nasty -->
        　　<!-- file locking issue on windows. -->
        　　<servlet-name>default</servlet-name>
        　　<init-param>
        　　<param-name>useFileMappedBuffer</param-name>
        　　<param-value>false</param-value>
        　　</init-param>
    </servlet>
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.jims.wx.listener.ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.jims.wx.listener.TokenManagerListener</listener-class>
    </listener>
    <!--微信支付常量-->
    <listener>
        <listener-class>com.jims.wx.listener.WeiXinPayListener</listener-class>
    </listener>
    <context-param>
        <param-name>APP_ID</param-name>
        <param-value>wx890edf605415aaec</param-value>
     </context-param>
    <context-param>
        <param-name>APP_SERECT</param-name>
        <param-value>0e9446b7e5690138e6f8b1d07bb04a02</param-value>
    </context-param>
    <context-param>
        <param-name>MCH_ID</param-name>
        <param-value>1318000301</param-value>
    </context-param>
    <context-param>
        <param-name>KEY</param-name>
        <param-value>jmyruanjianyouxiangongsi84923632</param-value>
    </context-param>
</web-app>
