<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="pragram" content="no-cache">
    <title>答题记录汇总</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<div class="easyui-layout" id="cc">
    <div region="south" border="false">
        <table id="bottom" class="easyui-datagrid" style="width:100%"></table>
    </div>
    <div region="west" border="false" style="width:250px;">
        <table id="typeList" class="easyui-datagrid"></table>
    </div>
    <div region="center" border="false">
        <table id="dg" class="easyui-datagrid"></table>
    </div>
</div>
<div id="tb" style="height:30px;">
    &nbsp;<a href="#" id="detailBtn" class="easyui-linkbutton" iconCls="icon-search">详情</a>
</div>
<div id="dlg-detail" class="easyui-dialog" style="width:450px;height:500px;padding:10px 20px"
     closed="true" buttons="#dlg-detail-buttons">
    <div>
        <table id="tree" class="easyui-treegrid"></table>
    </div>
</div>
<div id="dlg-detail-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg-detail').dialog('close')">关闭</a>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/answer-sheet.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>

</body>
</html>