<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../../style/app-dept.css">
    <title>科室列表</title>
</head>
<body>
<div id="js_article" class="rich_media">
    <div class="main-content">
        <div class="top-search">
            <input type="text" class="inp-text-search" placeholder="科室、医生姓名或拼音首字母">

            <div class="bot-line parkinfo-text"  onclick="findMyCollection()">
                <a href="#" class="hoffice-link">
                    <span class="icon-span icon0">&nbsp;</span>我的收藏<span class="icon-span icon11 fd-right">&nbsp;</span>
                </a>
            </div>
            <div ng-app="myApp">
                <div ng-controller="tableCtrl" id="deptlist">
                    <input type="hidden" id="openId" value="">
                     <div ng-repeat="x in names">
                        <div class="bot-line parkinfo-text" ng-click="findDeptInfo(x.id);">
                            <a href="#" class="hoffice-link">
                                <span style="display:none" class="span">{{x.id}}</span>
                                <!--<p>{{x.deptName}}</p>-->
                                <span class="icon-span"><img src="{{x.imgUrl}}"></span>{{x.deptName}}<span
                                    class="icon-span icon11 fd-right">&nbsp;</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="../../../assert/angular/angular.min.js"></script>
<script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-dept-dict-info.js"></script>
</html>