<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../../style/doct-info.css">
    <title></title>
</head>
<body>
<div id="js_article" class="rich_media">
    <div class="main-content">
        <div class="Coupons-list serplace-list">
            <ul>
                <li class="clearfix">
                    <div class="doc-info clearfix">
                        <div class="dochome-photo"><img src="" id="headUrl"/></div>
                        <div class="doc-info-main">
                            <div class="doc-name-wrap">
                                <span class="doc-name" id="name"></span>
                                <span id="title"></span>
                            </div>
                            <span id="deptName"></span>
                        </div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">门诊时间</div>
                        <div class="fd-right" id="scheduleTime"></div>
                    </div>
                    <div class="bot-line doc-detail" id="description">
                        <!--{{x.description}}-->
                    </div>
                </li>
             </ul>
         </div>
     </div>
 </div>
 </body>
 <script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-regist-doct-info.js"></script>
 </html>