<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../../style/doct-info.css">
    <link rel="stylesheet" href="../../../assert/weui/style/weui.min.css"/>
    <title></title>
</head>
<body>
<div id="js_article" class="rich_media">
    <div class="main-content">
        <div class="Coupons-list serplace-list">
            <ul>
                <li class="clearfix">
                    <div class="doc-info clearfix">
                        <div class="dochome-photo"><img src="" id="headUrl"/></div>
                        <div class="doc-info-main">
                            <div class="doc-name-wrap">
                                <span class="doc-name" id="name"></span>
                                <span id="title"></span>
                            </div>
                            <span id="deptName"></span>
                        </div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">挂号时间</div>
                        <div class="fd-right" id="registTime"></div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">门诊时间</div>
                        <div class="fd-right" id="scheduleTime"></div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">就诊时间</div>
                        <div class="fd-right" id="timeDesc"></div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">挂号+诊疗费</div>
                        <div class="fd-right" id="price" style="color:red;"></div>
                    </div>
                    <div class="bot-line parkinfo-text clearfix">
                        <div class="fd-left">就诊人</div>
                        <div class="fd-right" id="patName"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="parkinfo-text tr">
                        余号 <a href="#" class="color-blue"><span id="enabledCount"></span></a>个
                    </div>
                    <input type="hidden" id="idCard" value=""/>
                </li>
            </ul>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary" href="javascript:change()">切换默认患者</a>
                <a id="pay" class="weui_btn weui_btn_primary">确定挂号</a>
            </div>
            <!--<div id="pay" class="bot-btn"><button class="btn btn_info">确定挂号</button></div>-->
            <!--<div id="return" class="bot-btn" onclick="javascript:history.go(-1)"><button class="btn btn_info">确定挂号</button></div>-->
            <!--<a id="pay" class="weui_btn weui_btn_primary">确认支付</a>-->
            <!--<a href="javascript:history.go(-1);" class="weui_btn weui_btn_default">取消</a>-->
        </div>


    </div>

</div>


</body>
<script src="../../../assert/angular/angular.min.js"></script>
<script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-pay.js"></script>
<!--http://res.wx.qq.com/open/js/jweixin-1.0.0.js-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</html>