<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>患者详情</title>
    <link rel="stylesheet" href="../../../assert/weui/style/weui.min.css"/>
 </head>
<body>
 <div id="deptInfo">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>姓名</p>
            </div>
            <div class="weui_cell_ft" id="name"></div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>省份证号</p>
            </div>
            <div class="weui_cell_ft" id="idCard"></div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_hd"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>手机号</p>
            </div>
            <div class="weui_cell_ft" id="phone"></div>
        </a>
        <a onclick="but()" class="weui_btn weui_btn_primary" id="return" style="display: none;">返回</a>
    </div>
</div>
</div>
</div>
</body>
<script src="../../../assert/angular/angular.min.js"></script>
<script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-pat-info.js"></script>
</html>