<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../../style/app-dept.css">
    <link rel="stylesheet" href="../../../assert/weui/style/weui.min.css"/>
    <title>挂号单</title>
</head>
<body>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">挂号成功</h2>
    </div>
</div>
<div class="weui_opr_area">
    <p class="weui_btn_area">
    <a href="javascript:;" class="weui_btn weui_btn_primary" onclick="find()">我的挂号</a>
     </p>
    </div>
</div>
</body>
<script src="../../../assert/angular/angular.min.js"></script>
<script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-pay-succcess.js"></script>
 </html>