<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>就医反馈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../assert/weui/style/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../style/app-dept.css">
 </head>
<body>
<div class="choice-tile">
    <span class="choice-tile-text">--&nbsp;&nbsp;请选择反馈对象&nbsp;&nbsp;--</span>
</div>
<div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary reg-remind-list" href="javascript:" id="hospital">医院</a>
    <a class="weui_btn weui_btn_primary reg-remind-list" href="javascript:" id="regist">科室</a>
    <a class="weui_btn weui_btn_primary reg-remind-list" href="javascript:" id="doct">医生</a>
</div>
<div class="weui_cells_tips">温馨提示：就诊反馈必须有就诊记录。</div>
</body>
<script language="javascript" src="/assert/easyui/jquery.min.js"></script>
<!--<script src="../../../javascript/app-user-bangker.js" language="javascript"></script>-->
<script src="../../../javascript/app-feed-back.js" language="javascript"></script>
<script language="javascript" src="/javascript/tool.js"></script>
</html>