<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<title>用户绑卡</title>-->
    <link rel="stylesheet" href="../../../assert/weui/style/weui.min.css"/>
    <title></title>
</head>
<body>
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">操作成功</h2>
     </div>
</div>
 </body>
<script type="text/javascript" src="../../../javascript/user-bangker-success.js"></script>
</html>