<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../../style/doct-info.css">
    <title>我的收藏</title>
</head>
<body>
<div id="js_article" class="rich_media">
    <div class="main-content">
        <div class="sd-ttile" id="text1">
            <!--心血管门诊（13名）-->
        </div>
        <div class="Coupons-list serplace-list">
            <input type="hidden" name="deptId" id="deptId" value=""/>
            <input type="hidden" name="openId" id="openId" value=""/>
            <ul>
                <div ng-app="myApp">
                    <div ng-controller="tableCtrl" id="doctList">
                        <div ng-repeat="x in names">
                            <li class="clearfix" ng-click="info2(x.id)">
                                <div class="doc-info clearfix">
                                    <div class="dochome-photo"><img src="{{x.headUrl}}" id="headUrl"/></div>
                                    <div class="doc-info-main">
                                        <div class="doc-name-wrap">
                                            <input type="hidden" value="{{x.id}}">
                                            <span class="doc-name" id="name">{{x.name}}</span>
                                            <span id="title">{{x.title}}</span>
                                        </div>
                                        <span id="deptName">{{x.deptName}}</span>
                                    </div>
                                </div>
                         </div>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../../../assert/angular/angular.min.js"></script>
<script src="../../../assert/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../../javascript/app-my-collection.js"></script>
</html>