<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow"/>
    <title>科室信息维护</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">

    <script type="text/javascript">
        window.onload =
                function()
                {
                    CKEDITOR.replace( 'deptInfo' );
                };
    </script>
</head>
<body>
<table id="tt" class="easyui-treegrid">

</table>


<div id="tb" style="padding:2px 5px;">
    <!--科室名称：<input id="dept" class="easyui-searchbox" prompt="请输入您要查的科室名称..." style="width:250px"/>-->
    <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add">添加科室</a>
    <a href="#" id="addChildBtn" class="easyui-linkbutton" iconCls="icon-add">添加子科室</a>
    <a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit">修改科室信息</a>
    <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove">删除科室</a>
</div>
<div id="ft" style="padding:2px 5px;">

</div>


<div id="dlg" class="easyui-dialog" style="width:800px;height:500px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons" data-options="modal:true">
    <div class="ftitle">科室信息维护</div>
    <form id="fm" method="post" novalidate>

        <table class="fitem">
            <tr>
                <td>&nbsp;&nbsp;<label>科室编码:</label></td>
                <td><input id="deptCode" name="deptCode" class="easyui-textbox" required="true"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>科室名称:</label>
                <input id="deptName" name="deptName" class="easyui-textbox" required="true"></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;<label>科室别名:</label></td>
                <td><input name="deptAlis" id="deptAlis" class="easyui-textbox"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>临床属性:</label>
                <input name="deptAttr" id="deptAttr" class="easyui-textbox" data-options="validType:'length[1,2]'" ></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;<label>门诊住院:</label></td>
                <td><select id="deptOutpInp" class="easyui-combobox" name="deptOutpInp" style="width: 160px"></select></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>科室位置:</label>
                <input name="deptLocation" id="deptLocation" class="easyui-textbox"></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;<label>是否停用:</label></td>
                <td>
                    <select style="width: 160px" class="easyui-combobox" name="deptStopFlag" id="deptStopFlag" required="true">
                    </select>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>是否末级:</label>
                    <select style="width: 160px" class="easyui-combobox" name="endDept" id="endDept" required="true">
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;<label>部门类型:</label></td>
                <td>
                    <select style="width: 160px" class="easyui-combobox" name="deptType" id="deptType" required="true">
                    </select>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>部门类别:</label>
                    <select style="width: 160px" class="easyui-combobox" name="deptClass" id="deptClass" required="true">
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;<label>上级科室:</label></td>
                <td><input name="parentId" id="parentId" class="easyui-textbox" disabled></td>
            </tr>

            <tr>
                <td>&nbsp;&nbsp;<label>上传图标：</label></td>
                <td> <input id="fileToUpload" type="file" size="45" name="fileToUpload">
                    <a href="javascript:void(0)" id="uploadBtn" class="easyui-linkbutton c6" iconCls="icon-ok" >上传</a></td>
            </tr>
            <tr>
                <td>
                    <img src="" id="viewImg"/>
                </td>
             </tr>
        </table>
        <!--<div class="fitem" id="uploadDiv" style="align:center;">-->
            <!--<label></label>-->
            <!--<input id="fileToUpload" type="file" size="45" name="fileToUpload">-->
            <!--<a href="javascript:void(0)" id="uploadBtn" class="easyui-linkbutton c6" iconCls="icon-ok" >上传</a>-->
            <!--<br/>-->
            <!--<img src="" id="viewImg"/>-->
        <!--</div>-->
         <div class="fitem">
            <!--<div style="height:100px;float:left;">科室简介</div>-->
            <span><h4>科室简介:</h4>
            <textarea id="deptInfo" name="deptInfo"></textarea>
            <script type="text/javascript">CKEDITOR.replace('deptInfo');</script></span>
        </div>
        <!--<div class="fitem">-->
            <input name="id" id="id" type="hidden">
        <!--</div>-->
            <input type="hidden" id="headUrl" value=""/>
     </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" id="saveBtn" class="easyui-linkbutton c6" iconCls="icon-ok" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg').dialog('close')" style="width:90px">关闭</a>
</div>


<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<!--文本编辑器-->
<script src="/assert/plugins/ckeditor/ckeditor.js"></script>
<!--引入自己的js-->
<script type="text/javascript" src="../../../javascript/dept-dict.js"></script>
<script type="text/javascript" src="/javascript/common/ajaxfileupload.js"></script>
</body>
</html>