<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品编码描述字典维护</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">

</head>
<body>
<div id="show" class="easyui-layout" style="width: 100%;height:80%" border="false" fit="true">
    <div id="searchDiv" region="center" title="医院概况编辑">
        <form id="fm" method="post">
            <table cellpadding="5">
                <tr style="display: none">
                    <td>id：</td>
                    <td><input id="id" class="easyui-textbox" value="<%=b[0].hospitalName%>"></td>
                </tr>
                <input type="hidden" value="" id="hospitalId">
                <tr>
                    <td>医院名称：</td>
                    <td><input id="hospitalName" class="easyui-textbox" value=""></td>
                    <td>APPID：</td>
                    <td><input id="appId" class="easyui-textbox" value=""></td>
                    <td>SECRET:</td>
                    <td><input id="appSecret" class="easyui-textbox"></td>

                </tr>
                <tr>
                    <td>公众号名：</td>
                    <td><input id="openName" class="easyui-textbox" value=""></td>
                    <td>appToken：</td>
                    <td><input id="appToken" class="easyui-textbox" value=""></td>
                    <td>商号ID:</td>
                    <td><input id="metchId" class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td>介绍链接：</td>
                    <td><input id="infoUrl" class="easyui-textbox" value=""></td>
                    <td>商号KEY:</td>
                    <td><input id="key" class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td>上传图片：</td>
                    <td><input id="fileToUpload" type="file" size="45" name="fileToUpload">
                        <a href="javascript:void(0)" id="uploadBtn" class="easyui-linkbutton c6"
                           iconCls="icon-ok">上传</a></td>
                </tr>
                <tr>
                    <td><img src="" id="viewImg"/></td>
                 </tr>
            </table>
            <div>
                <h4>医院描述：</h4>
                <textarea id="tranContent" name="tranContent" class="ckeditor"></textarea>
            </div>
        </form>
    </div>
    <div id="tb" style="height:30px; background-color: #f2f8ff" region="south">
        <a href="#" id="saveBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
        <a href="#" id="noBtn" class="easyui-linkbutton" iconCls="icon-no">取消</a>
    </div>
</div>
<input type="hidden" id="hospitalImg" value=""/>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<!--富文本编辑器-->
<script type="text/javascript" src="/assert/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/javascript/common/ajaxfileupload.js"></script>
<script type="text/javascript" src="../../../javascript/hospital-info.js"></script>
</body>
</html>