<!DOCTYPE html>
<html ng-app="materialApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>永久素材管理</title>
    <link href="/assert/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="container-fluid" ng-controller="materialControl">
<div class="panel panel-info">
    <div class="panel-heading">素材管理</div>
    <div class="panel-body">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#img" data-toggle="tab" ng-click="imgToggle()">图片</a></li>
            <li><a href="#voice" data-toggle="tab" ng-click="voiceToggle()">语音</a></li>
            <li><a href="#video" data-toggle="tab" ng-click="videoToggle()">视频</a></li>
        </ul>
    </div>
    <div class="row" ng-hide="myImg" style="height:400px;">
        <div class="col-md-12">
            <div class="col-sm-8" style="border:1px;" ng-repeat="x in imgItems">
                <img ng-src="{{x.url}}">
                <!--<p class="text-center text-muted">该分组暂时没有素材</p>-->
            </div>
            <div class="col-sm-2" style="border:1px;">
                <form enctype="multipart/form-data">
                    <div class="btn btn-success" ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                         ngf-resize="{width: 100, height: 100}">本地上传
                    </div>
                </form>
            </div>
            <div class="col-sm-2" style="border:1px;">
                <table class="table table-hover">
                    <tr>
                        <th class="btn btn-link" style="border: 0 none;">未分组</th>
                    </tr>
                    <tr>
                        <th class="btn btn-link" style="border: 0 none;">
                            <span class="glyphicon glyphicon-plus"></span>新建分组
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="voice" ng-hide="myVoice" style="height: 400px">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-10" style="border:1px;">
                    <p class="text-center text-muted">暂无数据，可点击右上角新建按钮创建</p>
                </div>
                <div class="col-sm-2" style="border:1px;">
                    <button class="btn btn-success" data-toggle="modal" data-target="#voiceModal">
                        <span class="glyphicon glyphicon-plus"></span>新建语音
                    </button>
                </div>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="voiceModal" tabindex="-1" role="dialog" aria-labelledby="voiceModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-center" id="voiceModalLabel">新建语音</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputVoiceTitle" placeholder="请输入标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类</label>
                                <div>
                                    <label class="col-sm-2"><input type="radio" name="classify">财经</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">动漫</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">儿童</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">搞笑</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">健康</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">教育</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">军事</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">科技</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">历史</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">旅行</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">汽车</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">情感</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">体育</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">外语</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">文学</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">校园</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">音乐</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">影视</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">游戏</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">娱乐</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-2 control-label">语音内容</span>
                                <span class="text-muted">格式支持mp3、wma、wav、amr，文件大小不超过30M，语音时长不超过30分钟</span>
                            </div>
                            <div class="form-group">
                                <form enctype="multipart/form-data">
                                    <a class="btn btn-default col-sm-offset-2" ngf-select="upload($file)" ng-model="file" name="file"
                                         ngf-pattern="'voice/*'"
                                         ngf-accept="'voice/*'" ngf-max-size="2MB" ngf-min-height="100"
                                         ngf-resize="{width: 100, height: 100}">上传</a>
                                </form>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">取消
                        </button>
                        <button class="btn btn-success">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="video" ng-hide="myVideo" style="height:400px;">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-10" style="border:1px;">
                    <p class="text-center text-muted">暂无视频 ,<a class="btn btn-link" data-toggle="modal" data-target="#videoModal">点此上传</a></p>
                </div>
                <div class="col-sm-2" style="border:1px;">
                    <button class="btn btn-success" data-toggle="modal" data-target="#videoModal">
                        <span class="glyphicon glyphicon-plus"></span>新建视频
                    </button>
                </div>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-center" id="videoModalLabel">新建视频</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <span class="col-sm-2 control-label">上传视频</span>
                                <label class="text-muted">视频不能超过20M，支持大部分主流视频格式，超过20M的视频可至腾讯视频上传后添加</label>
                            </div>
                            <div class="form-group">
                                <form enctype="multipart/form-data">
                                    <a class="btn btn-default col-sm-offset-2" ngf-select="upload($file)" ng-model="file" name="file"
                                       ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                                       ngf-resize="{width: 100, height: 100}">上传</a>
                                </form>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputVideoTitle" placeholder="请输入标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类</label>
                                <div>
                                    <label class="col-sm-2"><input type="radio" name="classify">财经</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">动漫</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">儿童</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">搞笑</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">健康</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">教育</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">军事</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">科技</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">历史</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">旅行</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">汽车</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">情感</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">体育</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">外语</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">文学</label>
                                    <label class="col-sm-offset-2 col-sm-2"><input type="radio" name="classify">校园</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">音乐</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">影视</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">游戏</label>
                                    <label class="col-sm-2"><input type="radio" name="classify">娱乐</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签<span class="glyphicon glyphicon-question-sign"></span></label>
                                <a href="#" data-toggle="popover" title="Example popover">
                                    请悬停在我的上面
                                </a>
                                <div class="col-sm-10">
                                    <input class="form-control" id="mLabel">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">取消
                        </button>
                        <button class="btn btn-success">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/assert/easyui/jquery.min.js" type="text/javascript"></script>
    <script src="/assert/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assert/angular/angular.min.js" type="text/javascript"></script>
    <script src="/assert/ngupload/ng-file-upload.min.js"></script>
    <script src="/assert/ngupload/ng-file-upload-shim.min.js"></script>
    <script src="/javascript/material-build.js"></script>
</body>
</html>