<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="../../../style/app-dept.css">
<title></title> 
 </head>
<body> 


    <div id="js_article" class="rich_media">

        <div class="top_banner serplace-banner">
			<a href="#" class="fd-left close-btn">X</a>
			<h3 class="fd-left">当天挂号选择科室</h3>
			<a href="#" class="more-link"></a>
        </div>	
 		<div class="main-content">
			<div class="top-search">
				<input type="text" class="inp-text-search" placeholder="科室、医生姓名或拼音首字母">
			</div>
			<div class="bot-line parkinfo-text">
				<a href="#" class="hoffice-link">
					<span class="icon-span icon10">&nbsp;</span>我的收藏<span class="icon-span icon11 fd-right">&nbsp;</span>
				</a>
			</div>
			<div class="bot-line parkinfo-text">
				<a href="#" class="hoffice-link">
				<span class="icon-span icon10">&nbsp;</span>眼科门诊<span class="icon-span icon11 fd-right">&nbsp;</span></a>
			</div>

 		</div>
     </div>



</body>
</html>