<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <!--编码级名称：<input type="text" class="easyui-textbox" id="name">-->
    <!--<a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search"></a>&nbsp;&nbsp;-->
    <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add">添加</a>
    <a href="#" id="findByIdBtn" class="easyui-linkbutton" iconCls="icon-add">详情</a>
    <a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit">修改</a>
    <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove">删除</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:500px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">问题信息</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>编号</label>
            <input name="id" id="subId"  class="easyui-textbox"  disabled="true">
        </div>
        <div class="fitem">
            <label>题目</label>
            <input  id="questionContent" name="questionContent" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>类型</label>
            <input  id="questionType" name="questionType" required="true" class="easyui-combobox" data-options="valueField:'value',textField:'text',data:[{'value':'0','text':'单选'},{'value':'1','text':'多选'}]"/>
        </div>
        <div class="fitem">
            <label>预知答案</label>
            <input name="preAnswer" id="preAnswer" class="easyui-textbox" required="true"  >
        </div>
        <div class="fitem">
            <label>图片路径</label>
            <input name="img" id="img" class="easyui-textbox"  >

        </div>
   <!--     <div class="fitem" id="uploadDiv">
            <label>上传头像：</label>
            <input id="fileToUpload" type="file" size="45" name="fileToUpload">
            <a href="javascript:void(0)" id="uploadBtn" class="easyui-linkbutton c6" iconCls="icon-ok" >上传</a>
            <br/>
            <img src="" id="viewImg"/>
        </div>
        <div class="fitem" style="display:none;" id="headDiv">
            <label>头像地址：</label>
            <input id="headUrl" name="headUrl" class="easyui-textbox" value="" disabled="disabled">
        </div>
        -->
        <div class="fitem">
            <table id="dgOption" class="easyui-datagrid">
            </table>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" id="addOptionBtn" class="easyui-linkbutton c6" iconCls="icon-add"  style="width:60px">追加</a>
    <a href="javascript:void(0)" id="delOptionBtn" class="easyui-linkbutton c6" iconCls="icon-remove"  style="width:60px">删除</a>
    <a href="javascript:void(0)" id="submitBtn" class="easyui-linkbutton c6" iconCls="icon-ok"  style="width:60px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:60px">关闭</a>
</div>

<div id="dlg-detail" class="easyui-dialog" style="width:400px;height:600px;padding:10px 20px"
     closed="true" buttons="#dlg-detail-buttons">
    <div class="ftitle">问题详情</div>
    <div class="fitem">
        <label>题目</label>
        <input id="questionContentShow" name="questionContent" class="easyui-textbox" disabled="true">
    </div>
    <div class="fitem">
        <label>类型</label>
        <input  id="questionTypeShow" name="questionType" required="true" class="easyui-combobox" data-options="valueField:'value',textField:'text',data:[{'value':'0','text':'单选'},{'value':'1','text':'多选'}]" disabled="true">
    </div>
    <div class="fitem">
        <label>预知答案</label>
        <input   name="preAnswer" id="preAnswerShow" required="true" class="easyui-textbox"  disabled="true">
    </div>
    <div class="fitem">
        <label>图片路径</label>
        <input name="imge" id="image" class="easyui-textbox" disabled="true" >
    </div>
    <div class="fitem">
        <input name="id" id="idShow" type="hidden" disabled="true">
    </div>
    <div class="fitem">
        <table id="dgOptionShow" class="easyui-datagrid" disabled="true">
        </table>
    </div>
</div>
<div id="dlg-detail-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-detail').dialog('close')" style="width:90px">关闭</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="/javascript/subject.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>

</body>
</html>