<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow"/>
     <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
 </head>
<body>
<div id="lay" class="easyui-layout" style="width: 100%;height:80%" border="false" fit="true">
     <div region="center">
        <table id="t_user" class="easyui-datagrid"></table>
    </div>
</div>
 <div id="dlg" modal="true" draggable="false" class="easyui-dialog" style="width:700px;height:500px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons" data-options="modal:true">
    <div class="ftitle">症状疾病维护</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem" style="display:none">
            <label>编号</label>
            <input name="id" id="docId" class="easyui-textbox" disabled="true" value="">
        </div>
        <div class="fitem">
            <label>症状名称：</label>
            <select id="symptomId" name="symptomId" required="true"></select>
        </div>
        <div class="fitem">
            <label>疾病名称：</label>
            <select id="sicknessId" name="sicknessId" required="true"></select>
        </div>
        <div class="fitem">
            <label>性别：</label>
            <select id="sex" name="sex" required="true">
                <option value="-1" selected="selected">不区分男女</option>
                <option value="女" >女</option>
                <option value="男">男</option>
            </select>
        </div>
      </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" id="submitBtn" class="easyui-linkbutton c6" iconCls="icon-ok" >确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg').dialog('close')" >关闭</a>
</div>

<div id="tb" style="padding:2px 5px;">
    <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add">添加</a>
    <a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit">修改</a>
    <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove">删除</a>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../javascript/symptom-sickness.js" charset="UTF-8"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
 </body>
</html>
