<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品编码描述字典维护</title>
    <link rel="stylesheet" href="../../../assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../../assert/easyui/themes/color.css">
    <link rel="stylesheet" href="../../../assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../../style/common.css">
</head>
<body>

<div class="easyui-layout" id="cc">
    <div region="south" border="false">
        <table id="bottom" class="easyui-datagrid" style="width:100%"></table>
    </div>
    <div region="west" border="false" style="width:250px;">
        <table id="typeList" class="easyui-datagrid"></table>
    </div>
    <div region="center" border="false">
        <table id="dg" class="easyui-datagrid" ></table>
    </div>
</div>
<div id="tb" style="height:30px;">
    <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add">添加</a>
    <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove">删除</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
</div>

<script type="text/javascript" src="../../../assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../../../assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../javascript/clinic-index.js"></script>
<script type="text/javascript" src="../../../javascript/tool.js"></script>
</body>
</html>