<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>基础字典维护</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="baseDictDg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <!--字典名称：<input type="text" id="baseName" class="easyui-textbox">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">查询</a>&nbsp;&nbsp;-->
    <a href="#" id="addBaseDictBtn" class="easyui-linkbutton" iconCls="icon-add">添加字典</a>
    <a href="#" id="appendBaseDictBtn" class="easyui-linkbutton" iconCls="icon-edit">追加键值</a>
    <a href="#" id="delBaseDictBtn" class="easyui-linkbutton" iconCls="icon-remove">删除键值</a>
    <a href="#" id="saveBaseDictBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<script type="text/javascript" src="/javascript/common/base-dict.js"></script>
</body>
</html>