<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品单位字典</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    产品单位名称：<input type="text" class="easyui-textbox" id="searchKey">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">查询</a>&nbsp;&nbsp;
    <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add">添加</a>
    <!--<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit">修改</a>-->
    <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove">删除</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
</div>
<div id="ft" style="padding:2px 5px;">

</div>




<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/measures-dict.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>