<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/base/layout_head2880f5.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/base/base2c31e8.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/base/lib2968da.css"/>

    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/page/setting/setting_common25404f.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/page/setting/setting_index264f38.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/jquery.Jcrop.min218877.css"/>
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/c/=/mpres/htmledition/style/widget/upload22a2de.css,/mpres/htmledition/style/widget/processor_bar218878.css" />
</head>
<body class="zh_CN">

<div id="body" class="body page_setting index" style="width: 100%">
    <div id="js_container_box" class="container_box cell_layout side_l">



        <div class="col_main">

            <div class="main_hd"><h2>公众号设置</h2><div id="topTab"></div></div>


            <div class="main_bd">
                <div class="account_setting_area" id="settingArea">
                    <h3 class="sub_title">公开信息</h3>
                    <ul>


                        <li class="account_setting_item wrp_pic_item_spe2">
                            <h4>头像</h4>
                            <div class="meta_opr">

                                <a id="changeHeadImg" href="javascript:;">修改头像</a>
                                <p class="desc">一个月头像只能申请修改5次</p>

                            </div>
                            <div class="meta_content">
                                <img class="meta_pic" src="/misc/getheadimg?token=1706632779&fakeid=3082807723&r=593481" />
                            </div>
                        </li>



                        <li class="account_setting_item wrp_pic_item_spe1">
                            <h4>二维码</h4>
                            <div class="meta_opr">
                                <a id="more_size" class="more_size" href="javascript:;">下载更多尺寸</a>
                            </div>
                            <div class="meta_content">
                                <a target="_blank" class="verifyInfo" title="点击下载" href="/misc/getqrcode?fakeid=3082807723&token=1706632779&style=1&action=download">
                                    <img src="/misc/getqrcode?fakeid=3082807723&token=1706632779&style=1" class="qrcode_pic" width="90" height="90" />
                                </a>
                            </div>
                        </li>


                        <li class="account_setting_item">
                            <h4>名称</h4>
                            <div class="meta_opr">
                            </div>
                            <div class="meta_content">
                                jingjinglove208
                            </div>
                        </li>



                        <li class="account_setting_item">
                            <h4>微信号</h4>

                            <div class="meta_opr">
                            </div>
                            <div class="meta_content">
                                <span>jingjinglove208</span>
                            </div>
                        </li>



                        <li class="account_setting_item">
                            <h4>类型</h4>

                            <div class="meta_opr">


                                <div class="modify_wrapper">
                                    你目前的公众号主体类型为个人，无法升级为服务号
                                </div>
                            </div>

                            <div class="meta_content">
                                订阅号
                                <span class="mini_tips weak_text">类型不可变更</span>

                            </div>
                        </li>





                        <li class="account_setting_item">
                            <h4>介绍</h4>
                            <div class="meta_opr">

                                <a id="modifyUserInfo" href="javascript:;">修改</a>
                                <p class="desc">一个月内功能介绍只能申请修改5次</p>
                            </div>

                            <div class="meta_content">
                                荷萨那女装专营店            </div>
                        </li>




                        <li class="account_setting_item">
                            <h4>认证情况</h4>
                            <div class="meta_opr verify">


                                <a href="/merchant/store?action=detail&t=wxverify/detail&info=verify&lang=zh_CN&token=1706632779">申请微信认证</a>
                            </div>
                            <div class="meta_content">
                                未认证                                                </div>
                        </li>










                        <li class="account_setting_item">
                            <h4>所在地址</h4>
                            <div class="meta_opr">
                                <a href="/cgi-bin/settingpage?action=sosomap&lang=zh_CN&token=1706632779">设置</a>
                            </div>
                            <div class="meta_content">
                                中国北京市昌平区东小口镇霍营村
                            </div>
                        </li>





                        <li class="account_setting_item">
                            <h4>主体信息</h4>
                            <div class="meta_opr">
                                <a href="/acct/contractorinfo?t=setting/owner-setting&action=info&lang=zh_CN&token=1706632779">详情</a>
                            </div>
                            <div class="meta_content">王*&nbsp;<span class="mini_tips weak_text">(个人)</span></div>
                        </li>



                    </ul>
                </div>
                <div class="account_setting_area">
                    <h3 class="sub_title">注册信息</h3>
                    <ul>

                        <li class="account_setting_item">
                            <h4>登录邮箱</h4>
                            <div class="meta_opr">
                                <p><a href="/acct/updateboundemail?t=setting/bind-email&action=bind&token=1706632779&step=1&lang=zh_CN">修改</a></p>
                                <p class="desc">一个月内只能申请修改一次</p>
                            </div>
                            <div class="meta_content">0152506104@163.com</div>
                        </li>



                        <li class="account_setting_item">
                            <h4>原始ID</h4>
                            <div class="meta_opr">
                            </div>
                            <div class="meta_content">
                                <span>gh_60780b53ddb2</span>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>


        </div>
    </div>

</div>



</body>
</html>