<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/base/layout_head2880f5.css"/>-->
    <!--<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/base/base2c31e8.css"/>-->
    <!--<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/page/setting/setting_common25404f.css"/>-->
    <!--<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/page/setting/setting_index264f38.css"/>-->
    <!--<link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="https://res.wx.qq.com/mpres/htmledition/style/jquery.Jcrop.min218877.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/c/=/mpres/htmledition/style/widget/upload22a2de.css,/mpres/htmledition/style/widget/processor_bar218878.css" />-->

    <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">

    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css"
          href="../../../assert/css/layout_head2880f5.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="../../../assert/css/base2c31e8.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="../../../assert/css/lib2968da.css"/>

    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css"
          href="../../../assert/css/setting_common25404f.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css"
          href="../../../assert/css/setting_index264f38.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css"
          href="../../../assert/css/jquery.Jcrop.min218877.css"/>
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css"
          href="../../../assert/css/processor_bar218878.css"/>
</head>
<body class="zh_CN screen_small">
    <div id="body" class="body page_setting index"  style="width: 100%">
        <div id="js_container_box" class="container_box cell_layout side_l">
            <div class="col_main">
                <div class="main_hd"><h2>基本信息设置</h2>
                    <div id="topTab" class="title_tab">
                        <ul class="tab_navs title_tab" data-index="0">
                            <li data-index="0" class="tab_nav first js_top selected" data-id="info"><a
                                    href="#">帐号详情</a></li>
                            <!--<li data-index="1" class="tab_nav  js_top" data-id="function"><a-->
                                    <!--href="#">功能设置</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>

                <div class="main_bd">
                    <div class="account_setting_area" id="settingArea">
                        <h3 class="sub_title">公开信息</h3>
                        <ul>
                            <!--<li class="account_setting_item wrp_pic_item_spe2">-->
                                <!--<h4>头像</h4>-->
                                <!--<div class="meta_opr">-->
                                    <!--<a id="changeHeadImg" href="javascript:;">修改头像</a>-->
                                    <!--<p class="desc">一个月头像只能申请修改5次</p>-->
                                <!--</div>-->
                                <!--<div class="meta_content">-->
                                    <!--<img class="meta_pic" src="./微信公众平台_files/getheadimg(1)">-->
                                <!--</div>-->
                            <!--</li>-->


                            <li class="account_setting_item wrp_pic_item_spe1">
                                <h4>二维码</h4>

                                <div class="meta_opr">
                                    <a id="more_size" class="more_size" href="javascript:;">下载更多尺寸</a>
                                </div>
                                <div class="meta_content">
                                    <a target="_blank" class="verifyInfo" title="点击下载"
                                       href="#">
                                        <img src="http://p4.qhimg.com/dmt/235_165_/t01c0585f8c3422f227.jpg" class="qrcode_pic" width="90" height="90">
                                    </a>
                                </div>
                            </li>


                            <li class="account_setting_item">
                                <h4>名称</h4>

                                <div class="meta_opr">
                                </div>
                                <div class="meta_content">
                                    admin
                                </div>
                            </li>


                            <li class="account_setting_item">
                                <h4>微信号</h4>

                                <div class="meta_opr">
                                </div>
                                <div class="meta_content">
                                    <span>admin</span>
                                </div>
                            </li>


                            <!--<li class="account_setting_item">-->
                                <!--<h4>类型</h4>-->

                                <!--<div class="meta_opr">-->
                                    <!--<div class="modify_wrapper">-->
                                        <!--你目前的公众号主体类型为个人，无法升级为服务号-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="meta_content">-->
                                    <!--订阅号-->
                                    <!--<span class="mini_tips weak_text">类型不可变更</span>-->

                                <!--</div>-->
                            <!--</li>-->


                            <li class="account_setting_item">
                                <h4>医院名称</h4>

                                <div class="meta_opr">

                                    <a id="updateHospitalName" href="javascript:;">修改</a>

                                    <p class="desc">一个月内功能介绍只能申请修改5次</p>
                                </div>

                                <div class="meta_content" id="hospitalNameDivOne" >
                                    <span id="hospitalNameSpan"></span>
                                    <input type="hidden" id="hospitalName">
                                </div>
                                <div class="meta_content" id="hospitalNameDivTwo" style="display: none">
                                    <input type="text" id="hospitalNameInput"  value="" style="width: 50%"/>
                                    <a style="cursor: pointer" ><span id="saveHospitalName">保存</span></a>
                                </div>
                            </li>


                            <!--<li class="account_setting_item">-->
                                <!--<h4>认证情况</h4>-->

                                <!--<div class="meta_opr verify">-->


                                    <!--<a href="https://mp.weixin.qq.com/merchant/store?action=detail&t=wxverify/detail&info=verify&lang=zh_CN&token=1706632779">申请微信认证</a>-->
                                <!--</div>-->
                                <!--<div class="meta_content">-->
                                    <!--未认证-->
                                <!--</div>-->
                            <!--</li>-->


                            <li class="account_setting_item">
                                <h4>医院首页</h4>

                                <div class="meta_opr">
                                    <a id="updateUrl">设置</a>
                                </div>
                                <div class="meta_content" id="urlDivOne" style="display: block">
                                    <span id="urlSpan">http://www.baidu.com</span>
                                </div>
                                <div class="meta_content" id="urlDivTwo" style="display: none">
                                    <input type="text" id="urlInput"  value="" style="width: 50%"/>
                                    <a style="cursor: pointer" ><span id="saveUrl">保存</span></a>
                                </div>
                            </li>


                            <li class="account_setting_item">
                                <h4>主体信息</h4>

                                <div class="meta_opr">
                                    <a href="#">详情</a>
                                </div>
                                <div class="meta_content"><span id="name"></span><span class="mini_tips weak_text">(个人)</span></div>
                            </li>


                        </ul>
                    </div>
                    <div class="account_setting_area">
                        <h3 class="sub_title">注册信息</h3>
                        <ul>

                            <li class="account_setting_item">
                                <h4>登录邮箱</h4>

                                <div class="meta_opr">
                                    <p>
                                        <a id="updateEmail">修改</a>
                                    </p>

                                    <p class="desc">一个月内只能申请修改一次</p>
                                </div>
                                <div class="meta_content" id="emailDivOne"><span id="emailSpan">0152506104@163.com</span></div>
                                <div class="meta_content" id="emailDivTwo" style="display: none;">
                                    <input type="text" id="emailInput"  value="" style="width: 50%"/>
                                    <a style="cursor: pointer" ><span id="saveEmail">保存</span></a>
                                </div>
                            </li>


                            <li class="account_setting_item">
                                <h4>身份证号</h4>

                                <div class="meta_opr">
                                </div>
                                <div class="meta_content">
                                    <span>232700******</span>
                                </div>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="assert/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/hospitalVo.js"></script>
</body>
</html>